.timer {
  width: 100%;
  display: inline-block;

  .timer-actions {

    @media(max-width: 300px) {
      float: none;
    }

    button:focus {
      outline: 0px;
    }

    button {
      border: 2px solid black;
      border-radius: 5px;
      cursor: pointer;
      width: 65px;
      height: 32px;

      &.start {
        background-color: #81cd00;
      }

      &.stop {
        background-color: #bf0c2e;
      }
    }

  }
}

.timer {
  width: 100%;

  #d3-container {
    width: 100%;
    padding-top: 20px;
    background-color: black;
    text-align: center;
  }
}
