.timer-container {
  width: 100%;
  display: inline-block;
  
  @media(max-width: 300px) {
    text-align: center;
  }

  .timer-value {
    float: left;
    font-family: "DigitalClock";
    font-size: 40px;

    @media(max-width: 300px) {
      float: none;
    }
  }

  .timer-actions {
    float: right;
    margin-top: 11px;

    @media(max-width: 300px) {
      float: none;
    }

    button:focus {
      outline: 0px;
    }

    button {
      background-color: transparent;
      box-shadow: 0px 3px 10px black;
      border-radius: 5px;
      cursor: pointer;
      width: 65px;
      height: 32px;
    }

  }
}

.timer-widgets {
  width: 100%;

  #d3-widget {
    width: 100%;
    background-color: black;
  }
}
